body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: whitesmoke;
    page-break-after: auto;
}
#main_card{
    height: 350px;
    width: 1000px;
    float: right;
    background-color: #1C3A3F;
    position: absolute;
    margin-top:-500px;
    margin-left: 500px;
}
#tab_list{
    width: 300px;
    color: whitesmoke;
}
a{
    color: whitesmoke;
}
a:hover{
    color: #1C3A3F;
}
#music_image{
    height: 250px;
    width: 400px;
    position: relative;
    top:40px;
    left: 20px;
}
.jumbotron{
    height: 250px;
    width: 400px;
    position: relative;
    top:-210px;
    left:400px;
    background-color: #1C3A3F;
}
footer{
    height: 100px;
    background-color: #1C3A3F;
    position: relative;
    top:100px
}
#footer_music_image{
    height: 80px;
    width: 120px;
    position: relative;
    top:10px;
    left: 10px;
}
audio{
    width: 1200px;
    height: 50px;
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
}
html, body {
    height: 99%;    
}
#task_space{
    background-color:#1C3A3F;
    height: 500px;
    width: 300px;
}
#personalize{
    height: 210px;
    width: 1000px;
    background-color: #1C3A3F;
    position: absolute;
    margin-top: -120px;
    margin-left: 500px;
}
#controler{
    position: relative;
    left: 1250px;
    top:10px;
}
ul{
    list-style-type: none;
    color: whitesmoke;
}
li{
    color: white;
}

#formtable{

    position: relative;
    top:50px;
}
